.load-more-button {
  align-content: center;
  background-color: var(--grey);
  border-radius: 12px;
  bottom: 120px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  left: 18px;
  min-height: 48px;
  right: 18px;
  text-align: center;
  width: 100%;
}

.button-enabled {
  background-color: var(--primary-color);
  box-shadow: 2px 5px 2px #0003;
}

.button-enabled:active {
  box-shadow: none;
  transform: translateY(1px);
}
